$screen-sm-max: 430px;
$screen-md-max: 670px;
$screen-lg-max: 870px;
$screen-xl-max: 1200px;

@mixin sm {
  @media only screen and (max-width: #{$screen-sm-max}) {
    @content;
  }
}

@mixin md {
  @media only screen and (max-width: #{$screen-md-max}) {
    @content;
  }
}

@mixin lg {
  @media only screen and (max-width: #{$screen-lg-max}) {
    @content;
  }
}

@mixin xl {
  @media only screen and (max-width: #{$screen-xl-max}) {
    @content;
  }
}