$green-900: #63a60e;
$green-800: #4D800C;
$green-200: #e0edcf;
$green-100: #eff6e7;
$dark : #000;
$dark-900: #121212;
$dark-800: #31352B;
$dark-500: #505050;
$dark-100: #F5F5F5;
$red-900: #cf3e3b;
$orange-900: #ff7a00;
$yellow: #ffb800;
$silver-600: #c1c1c1;
$silver-200: #ebebeb;
$silver-100: #f6f6f6;
$white: #fff;