<div class="brands">
  <div class="container">
    <ul class="brands__box">
      <li class="brands__item">
        <a class="brands__link" href="#">
          <svg class="brands-img" width="80px">
            <use xlink:href="images/sprite.svg#sprite"></use>
          </svg>
        </a>
      </li>
      <li class="brands__item">
        <a class="brands__link" href="#">
          <svg class="brands-img" width="80px">
            <use xlink:href="images/sprite.svg#dr-pepper"></use>
          </svg>
        </a>
      </li>
      <li class="brands__item">
        <a class="brands__link" href="#">
          <svg class="brands-img" width="80px">
            <use xlink:href="images/sprite.svg#coca-cola"></use>
          </svg>
        </a>
      </li>
      <li class="brands__item">
        <a class="brands__link" href="#">
          <svg class="brands-img" width="80px">
            <use xlink:href="images/sprite.svg#pepsi"></use>
          </svg>
        </a>
      </li>
      <li class="brands__item">
        <a class="brands__link" href="#">
          <svg class="brands-img" width="80px">
            <use xlink:href="images/sprite.svg#redbull"></use>
          </svg>
        </a>
      </li>
      <li class="brands__item">
        <a class="brands__link" href="#">
          <svg class="brands-img" width="80px">
            <use xlink:href="images/sprite.svg#fanta"></use>
          </svg>
        </a>
      </li>
      <li class="brands__item">
        <a class="brands__link" href="#">
          <svg class="brands-img" width="80px">
            <use xlink:href="images/sprite.svg#fanta"></use>
          </svg>
        </a>
      </li>
    </ul>
  </div>
</div>