<!--#include virtual="../components/header.html" -->
<main class="main">

  <div class="breadcrumbs">
    <div class="container">
      <ul class="breadcrumbs__list">
        <li class="breadcrumbs__item">
          <a class="breadcrumbs__link" href="#">
            Главная
          </a>
        </li>
        <li class="breadcrumbs__item">
          <a class="breadcrumbs__link" href="#">
            Каталог товаров
          </a>
        </li>
      </ul>
    </div>
  </div>

  <div class="catalog">
    <div class="container">
      <h2 class="title catalog__title">
        Каталог товаров
      </h2>
      <div class="catalog__wrapper">
        <div class="filter">

          <div class="filter-categories filter__item">
            <div class="filter__top">
              <h3 class="filter__title">Категории</h3>
              <button class="filter__btn filter__btn--categories">
                <svg class="filter__img">
                  <use xlink:href="images/sprite.svg#arrows"></use>
                </svg>
              </button>
            </div>
            <div class="filter__box filter__box-categories">
              <ul class="filter-categories__list">
                <li class="filter-categories__item">
                  <a class="filter-categories__link" href="#">Овощи и фрукты</a>
                </li>
                <li class="filter-categories__item">
                  <a class="filter-categories__link" href="#">Бакалея</a>
                </li>
                <li class="filter-categories__item">
                  <a class="filter-categories__link" href="#">Молочные продукты</a>
                </li>
                <li class="filter-categories__item">
                  <a class="filter-categories__link" href="#">Хлеб</a>
                </li>
                <li class="filter-categories__item">
                  <a class="filter-categories__link" href="#">Мясо</a>
                </li>
                <li class="filter-categories__item">
                  <a class="filter-categories__link" href="#">Колбаса</a>
                </li>
                <li class="filter-categories__item">
                  <a class="filter-categories__link" href="#">Рыба</a>
                </li>
                <li class="filter-categories__item">
                  <a class="filter-categories__link" href="#">Алкоголь</a>
                </li>
                <li class="filter-categories__item">
                  <a class="filter-categories__link" href="#">lorem</a>
                </li>
                <li class="filter-categories__item">
                  <a class="filter-categories__link" href="#">lorem</a>
                </li>
                <li class="filter-categories__item">
                  <a class="filter-categories__link" href="#">lorem</a>
                </li>
                <li class="filter-categories__item">
                  <a class="filter-categories__link" href="#">lorem</a>
                </li>
                <li class="filter-categories__item">
                  <a class="filter-categories__link" href="#">lorem</a>
                </li>
                <li class="filter-categories__item">
                  <a class="filter-categories__link" href="#">Колбаса</a>
                </li>
                <li class="filter-categories__item">
                  <a class="filter-categories__link" href="#">Рыба</a>
                </li>
                <li class="filter-categories__item">
                  <a class="filter-categories__link" href="#">Алкоголь</a>
                </li>
                <li class="filter-categories__item">
                  <a class="filter-categories__link" href="#">lorem</a>
                </li>
                <li class="filter-categories__item">
                  <a class="filter-categories__link" href="#">lorem</a>
                </li>
                <li class="filter-categories__item">
                  <a class="filter-categories__link" href="#">lorem</a>
                </li>
                <li class="filter-categories__item">
                  <a class="filter-categories__link" href="#">lorem</a>
                </li>
                <li class="filter-categories__item">
                  <a class="filter-categories__link" href="#">lorem</a>
                </li>
                <li class="filter-categories__item">
                  <a class="filter-categories__link" href="#">Колбаса</a>
                </li>
                <li class="filter-categories__item">
                  <a class="filter-categories__link" href="#">Рыба</a>
                </li>
                <li class="filter-categories__item">
                  <a class="filter-categories__link" href="#">Алкоголь</a>
                </li>
                <li class="filter-categories__item">
                  <a class="filter-categories__link" href="#">lorem</a>
                </li>
                <li class="filter-categories__item">
                  <a class="filter-categories__link" href="#">lorem</a>
                </li>
                <li class="filter-categories__item">
                  <a class="filter-categories__link" href="#">lorem</a>
                </li>
                <li class="filter-categories__item">
                  <a class="filter-categories__link" href="#">lorem</a>
                </li>
                <li class="filter-categories__item">
                  <a class="filter-categories__link" href="#">lorem</a>
                </li>
                <li class="filter-categories__item">
                  <a class="filter-categories__link" href="#">Колбаса</a>
                </li>
                <li class="filter-categories__item">
                  <a class="filter-categories__link" href="#">Рыба</a>
                </li>
                <li class="filter-categories__item">
                  <a class="filter-categories__link" href="#">Алкоголь</a>
                </li>
                <li class="filter-categories__item">
                  <a class="filter-categories__link" href="#">lorem</a>
                </li>
                <li class="filter-categories__item">
                  <a class="filter-categories__link" href="#">lorem</a>
                </li>
                <li class="filter-categories__item">
                  <a class="filter-categories__link" href="#">lorem</a>
                </li>
                <li class="filter-categories__item">
                  <a class="filter-categories__link" href="#">lorem</a>
                </li>
                <li class="filter-categories__item">
                  <a class="filter-categories__link" href="#">lorem</a>
                </li>
                <li class="filter-categories__item">
                  <a class="filter-categories__link" href="#">Колбаса</a>
                </li>
                <li class="filter-categories__item">
                  <a class="filter-categories__link" href="#">Рыба</a>
                </li>
                <li class="filter-categories__item">
                  <a class="filter-categories__link" href="#">Алкоголь</a>
                </li>
                <li class="filter-categories__item">
                  <a class="filter-categories__link" href="#">lorem</a>
                </li>
                <li class="filter-categories__item">
                  <a class="filter-categories__link" href="#">lorem</a>
                </li>
                <li class="filter-categories__item">
                  <a class="filter-categories__link" href="#">lorem</a>
                </li>
                <li class="filter-categories__item">
                  <a class="filter-categories__link" href="#">lorem</a>
                </li>
                <li class="filter-categories__item">
                  <a class="filter-categories__link" href="#">lorem</a>
                </li>
                <li class="filter-categories__item">
                  <a class="filter-categories__link" href="#">Колбаса</a>
                </li>
                <li class="filter-categories__item">
                  <a class="filter-categories__link" href="#">Рыба</a>
                </li>
                <li class="filter-categories__item">
                  <a class="filter-categories__link" href="#">Алкоголь</a>
                </li>
                <li class="filter-categories__item">
                  <a class="filter-categories__link" href="#">lorem</a>
                </li>
                <li class="filter-categories__item">
                  <a class="filter-categories__link" href="#">lorem</a>
                </li>
                <li class="filter-categories__item">
                  <a class="filter-categories__link" href="#">lorem</a>
                </li>
                <li class="filter-categories__item">
                  <a class="filter-categories__link" href="#">lorem</a>
                </li>
                <li class="filter-categories__item">
                  <a class="filter-categories__link" href="#">lorem</a>
                </li>
                
              </ul>
            </div>
          </div>

          <div class="filter-offers filter__item">
            <div class="filter__top">
              <h3 class="filter__title">Предложения</h3>
              <button class="filter__btn filter__btn--offers">
                <svg class="filter__img">
                  <use xlink:href="images/sprite.svg#arrows"></use>
                </svg>
              </button>
            </div>
            <div class="filter__box filter__box-offers">
              2
            </div>
          </div> 

          <div class="filter-brand filter__item">
            <div class="filter__top">
              <h3 class="filter__title">Бренд</h3>
              <button class="filter__btn filter__btn--brand">
                <svg class="filter__img">
                  <use xlink:href="images/sprite.svg#arrows"></use>
                </svg>
              </button>
            </div>
            <div class="filter__box filter__box-brand">
              3
            </div>
          </div>

          <div class="filter-price filter__item">
            <div class="filter__top">
              <h3 class="filter__title">Цена</h3>
              <button class="filter__btn filter__btn--price">
                <svg class="filter__img">
                  <use xlink:href="images/sprite.svg#arrows"></use>
                </svg>
              </button>
            </div>
            <div class="filter__box filter__box-price">
              <form class="filter-price__form" action="#">
                <label class="filter-price__label">
                  <div class="filter-price__box">
                    от
                    <span class="filter-price__from"></span>
                    ₽
                  </div>
                  <div class="filter-price__box">
                    до
                    <span class="filter-price__to"></span>
                    ₽
                  </div>
                </label>
                <input class="filter-price__input" type="text" data-min="0" data-max="1200" data-from="100" data-to="1000">
              </form>
            </div>
            
          </div>
        </div>

















        <div class="catalog__content">sdfghjkl;</div>
      </div>
    </div>
  </div>





























</main>
<!--#include virtual="../components/footer.html" -->