<header class="header">
<!--#include virtual="../components/cart.html" -->
  <div class="menu">
    <div class="menu__top">
      <a class="logo" href="#">
        <img class="logo__img" src="images/sprite.svg#logo2" alt="Логотип">
      </a>
      <button class="close close--menu" type="btn">
        <svg class="close-img" width="24" height="24">
          <use xlink:href="images/sprite.svg#close"></use>
        </svg>
      </button>
    </div>

    <div class="menu__registration">
      <div class="menu__container">
        <a class="menu__registration-link menu__registration-link--signin" href="#">Вход</a>
        <a class="menu__registration-link" href="#">Регистрация</a>
      </div>
    </div>

    <div class="menu__catalog">
      <div class="menu__container">
        <a class="menu__catalog-link" href="#">
          Каталог товаров
        </a>
      </div>
    </div>

    <address class="menu__address">
      <div class="menu__container">
        <a class="menu__link menu__link--tel" href="tel:+7907288365">+7 907 288 365
          <svg class="menu__img menu__img--tel">
            <use xlink:href="images/sprite.svg#tel"></use>
          </svg>
        </a>
        <a class="menu__link menu__link--address" href="#">Санкт-Петербург, ул. Ленина, 1
          <svg class="menu__img menu__img--address">
            <use xlink:href="images/sprite.svg#address"></use>
          </svg>
        </a>
        <ul class="social">
          <li class="social__item">
            <a class="social__link" href="#">
              <svg class="social__link-img social__link-img--menu">
                <use xlink:href="images/sprite.svg#facebook"></use>
              </svg>
            </a>
          </li>

          <li class="social__item">
            <a class="social__link" href="#">
              <svg class="social__link-img social__link-img--menu">
                <use xlink:href="images/sprite.svg#youtube"></use>
              </svg>
            </a>
          </li>

          <li class="social__item">
            <a class="social__link" href="#">
              <svg class="social__link-img social__link-img--menu">
                <use xlink:href="images/sprite.svg#telegram"></use>
              </svg>
            </a>
          </li>

          <li class="social__item">
            <a class="social__link" href="#">
              <svg class="social__link-img social__link-img--menu">
                <use xlink:href="images/sprite.svg#instagram"></use>
              </svg>
            </a>
          </li>
        </ul>
      </div>
    </address>

    <div class="menu__container">
      <ul class="menu__list">
        <li class="menu__list-item">
          <a class="menu__list-link" href="#">Доставка</a>
        </li>
        <li class="menu__list-item">
          <a class="menu__list-link" href="#">О нас</a>
        </li>
        <li class="menu__list-item">
          <a class="menu__list-link" href="#">Новости</a>
        </li>
        <li class="menu__list-item">
          <a class="menu__list-link" href="#">Контакты</a>
        </li>
        <li class="menu__list-item">
          <a class="menu__list-link" href="#">Акции</a>
        </li>
        <li class="menu__list-item">
          <a class="menu__list-link" href="#">Вакансии</a>
        </li>
        <li class="menu__list-item">
          <a class="menu__list-link" href="#">Отзывы</a>
        </li>
        <li class="menu__list-item">
          <a class="menu__list-link" href="#">Публичная оферта</a>
        </li>
      </ul>
    </div>
  </div>

  <div class="header__top">
    <div class="container">
      <div class="header__wrapper header__wrapper--top">
        <ul class="header__links">
          <li class="header__links-item">
            <a class="header__link header__link--address" href="#">
              <svg class="header__link-img">
                <use xlink:href="images/sprite.svg#truck"></use>
              </svg>
              <span class="header__link-text">адрес и время доставки</span>
            </a>
          </li>

          <li class="header__links-item">
            <a class="header__link header__link--tel" href="#">
              <svg class="header__link-img">
                <use xlink:href="images/sprite.svg#tel"></use>
              </svg>
              <span class="header__link-text">горячая линия 24/7</span>
            </a>
          </li>
        </ul>

        <nav class="header__nav">
          <span class="sr-only">открыть меню</span>
          <button class="header__burger" type="button">
            <div class="header__burger-img"></div>
          </button>

          <ul class="header__list">
            <li class="header__item">
              <a class="header__link" href="#">доставка</a>
            </li>
            <li class="header__item">
              <a class="header__link" href="#">о нас</a>
            </li>
            <li class="header__item">
              <a class="header__link" href="#">новости</a>
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </div>

  <div class="header__bottom">
    <div class="container">
      <div class="header__wrapper header__wrapper--bottom">
      <picture class="logo">
        <source class="logo__img--l" srcset="images/sprite/logo-l.svg" media="(max-width: 1200px)">
        <img class="logo__img logo__img--header" src="images/sprite/logo.svg" alt="Логотип">
      </picture>

        <button class="header__catalog" type="button">
          <svg class="header__catalog-list">
            <use xlink:href="images/sprite.svg#catalog"></use>
          </svg>

          Каталог <span class="header__catalog--none">продуктов</span>

          <svg class="header__catalog-arrows">
            <use xlink:href="images/sprite.svg#catalog__arrow"></use>
          </svg>

          <ul class="list">
            <li class="list__item">
              <a class="list__link" href="#">Овощи и фрукты</a>
            </li>
            <li class="list__item">
              <a class="list__link" href="#">Бакалея</a>
            </li>
            <li class="list__item">
              <a class="list__link" href="#">Молочные продукты</a>
            </li>
            <li class="list__item">
              <a class="list__link" href="#">Хлеб</a>
            </li>
            <li class="list__item">
              <a class="list__link" href="#">Мясо</a>
            </li>
            <li class="list__item">
              <a class="list__link" href="#">Колбаса</a>
            </li>
            <li class="list__item">
              <a class="list__link" href="#">Рыба</a>
            </li>
            <li class="list__item">
              <a class="list__link" href="#">Алкоголь</a>
            </li>
            <li class="list__item">
              <a class="list__link" href="#">Напитки</a>
            </li>
            <li class="list__item">
              <a class="list__link" href="#">Торты</a>
            </li>
            <li class="list__item">
              <a class="list__link" href="#">Мясо</a>
            </li>
            <li class="list__item">
              <a class="list__link" href="#">Чай, кофе</a>
            </li>
          </ul>
        </button>

        <form class="search">
          <label class="sr-only" for="search">Найти в магазине</label>
          <input class="search__input" id="search" type="search" name="search" placeholder="Найти в магазине ..."
            required>
          <button class="search__btn" type="submit">поиск</button>
        </form>

        <ul class="user">
          <li class="user__item user__item--search">
            <button class="user__link" type="button">
              <svg class="user__img">
                <use xlink:href="images/sprite.svg#search"></use>
              </svg>
            </button>
          </li>

          <li class="user__item user__item--user">
            <a class="user__link" href="#">
              <span class="sr-only">профиль</span>
              <svg class="user__img user__img--user">
                <use xlink:href="images/sprite.svg#user"></use>
              </svg>
            </a>
          </li>

          <li class="user__item user__item--heart">
            <a class="user__link" href="#">
              <span class="user__num">12</span>
              <span class="sr-only">избранные товары</span>
              <svg class="user__img user__img--heart">
                <use xlink:href="images/sprite.svg#heart"></use>
              </svg>
            </a>
          </li>

          <li class="user__item">
            <button class="user__link user__link--cart" type="button">
              <span class="user__num">12</span>
              <span class="sr-only">корзина</span>
              <svg class="user__img user__img--cart">
                <use xlink:href="images/sprite.svg#cart"></use>
              </svg>
            </button>
          </li>
        </ul>
      </div>
    </div>
  </div>
</header>