<section class="news">
  <div class="container">
    <h2 class="title news__title">НАШИ НОВОСТИ</h2>
    <ul class="news__items">
      <li class="news__item">
        <article class="news__box">
          <a class="news__img-box" href="#">
            <div class="news__date">
              июль
              <span class="news__num">15</span>
            </div>
            <img class="news__img" src="images/news/1.jpg" alt="">
          </a>
          <h3 class="news__text">
            Событие этого лета: распродажа сезонных фруктов в онлайн-маркете ФрешОК. Торопись, пока всё не
            разобрали!
          </h3>
        </article>
      </li>
      <li class="news__item">
        <article class="news__box">
          <a class="news__img-box" href="#">
            <div class="news__date">
              май
              <span class="news__num">07</span>
            </div>
            <img class="news__img" src="images/news/2.jpg" alt="">
          </a>
          <h3 class="news__text">
            Шикарнейший выбор манго в нашем онлайн-маркете
          </h3>
        </article>
      </li>
      <li class="news__item">
        <article class="news__box">
          <a class="news__img-box" href="#">
            <div class="news__date">
              февраль
              <span class="news__num">20</span>
            </div>
            <img class="news__img" src="images/news/3.jpg" alt="">
          </a>
          <h3 class="news__text">
            Всё, что вы хотели знать о папайя
          </h3>
        </article>
      </li>
    </ul>
  </div>
</section>