<section class="promo" data-ref="promo">
  <div class="container">
    <h2 class="title promo__title">
      акции
    </h2>
    <ul class="promo-filter">
      <li class="promo-filter__item">
        <button class="promo-filter__btn" type="button" data-filter="all">
          все товары
        </button>
      </li>
      <li class="promo-filter__item">
        <button class="promo-filter__btn" type="button" data-filter=".category-new">
          Новинки
        </button>
      </li>
      <li class="promo-filter__item">
        <button class="promo-filter__btn" type="button" data-filter=".category-hit">
          хиты
        </button>
      </li>
    </ul>

    <ul class="promo__list">
      <li class="promo__item mix category-new">
        <article class="promo-cards">
          <a class="promo-cards__box" href="#">
            <span class="badge badge--new promo-cards__badge">Новинка</span>
            <img class="promo-cards__img" src="images/top_product/pineapple.png" alt="Ананас" width="100" height="100">
          </a>
          <div class="promo-cards__body">
            <h3 class="promo-cards__title">Ананас, 1 кг</h3>
            <span class="promo-cards__availability promo-cards__availability--instock">
              в наличии
            </span>
            <div class="promo-cards__item">
              <div class="promo-card__price">
                <span class="promo-cards__promoprice">900<span class="currency">₽</span></span>
                <span class="promo-cards__oldprice">1999<span class="currency">₽</span></span>
              </div>
              <span class="promo-cards__star">4.5
                <svg class="promo-cards__star-img" width="16" height="15">
                  <use xlink:href="images/sprite.svg#star"></use>
                </svg>
              </span>
            </div>
          </div>
        </article>
      </li>

      <li class="promo__item mix category-new">
        <article class="promo-cards">
          <a class="promo-cards__box" href="#">
            <span class="badge badge--new promo-cards__badge">Новинка</span>
            <img class="promo-cards__img" src="images/top_product/coffee.png" alt="Кофе" width="100" height="100">
          </a>
          <div class="promo-cards__body">
            <h3 class="promo-cards__title">
              Кофе с коноплей органический Caffé Salomoni 250г
            </h3>
            <span class="promo-cards__availability promo-cards__availability--ends">
              заканчивается
            </span>
            <div class="promo-cards__item">
              <div class="promo-card__price">
                <span class="promo-cards__promoprice">777<span class="currency">₽</span></span>
                <span class="promo-cards__oldprice">877<span class="currency">₽</span></span>
              </div>
              <span class="promo-cards__star">4.9
                <svg class="promo-cards__star-img" width="16" height="15">
                  <use xlink:href="images/sprite.svg#star"></use>
                </svg>
              </span>
            </div>
          </div>
        </article>
      </li>

      <li class="promo__item mix category-new">
        <article class="promo-cards">
          <a class="promo-cards__box" href="#">
            <span class="badge badge--new promo-cards__badge">Новинка</span>
            <img class="promo-cards__img" src="images/top_product/strawberry.png" alt="Клубника" width="100"
              height="100">
          </a>
          <div class="promo-cards__body">
            <h3 class="promo-cards__title">Клубника, 1 кг</h3>
            <span class="promo-cards__availability promo-cards__availability--no">
              нет в наличии
            </span>
            <div class="promo-cards__item">
              <div class="promo-card__price">
                <span class="promo-cards__promoprice">999<span class="currency">₽</span></span>
                <span class="promo-cards__oldprice">1999<span class="currency">₽</span></span>
              </div>
              <span class="promo-cards__star">5.0
                <svg class="promo-cards__star-img" width="16" height="15">
                  <use xlink:href="images/sprite.svg#star"></use>
                </svg>
              </span>
            </div>
          </div>
        </article>
      </li>

      <li class="promo__item mix category-new">
        <article class="promo-cards">
          <a class="promo-cards__box" href="#">
            <span class="badge badge--new promo-cards__badge">Новинка</span>
            <img class="promo-cards__img" src="images/top_product/mango.png" alt="Манго" width="100" height="100">
          </a>
          <div class="promo-cards__body">
            <h3 class="promo-cards__title">Манго, 1 шт</h3>
            <span class="promo-cards__availability promo-cards__availability--instock">
              в наличии
            </span>
            <div class="promo-cards__item">
              <div class="promo-card__price">
                <span class="promo-cards__promoprice">660<span class="currency">₽</span></span>
                <span class="promo-cards__oldprice">960<span class="currency">₽</span></span>
              </div>
              <span class="promo-cards__star">5.0
                <svg class="promo-cards__star-img" width="16" height="15">
                  <use xlink:href="images/sprite.svg#star"></use>
                </svg>
              </span>
            </div>
          </div>
        </article>
      </li>

      <li class="promo__item mix category-new">
        <article class="promo-cards">
          <a class="promo-cards__box" href="#">
            <span class="badge badge--new promo-cards__badge">Новинка</span>
            <img class="promo-cards__img" src="images/top_product/salmon.png" alt="Лосось" width="100" height="100">
          </a>
          <div class="promo-cards__body">
            <h3 class="promo-cards__title">Лосось, 1 кг</h3>
            <span class="promo-cards__availability promo-cards__availability--instock">
              в наличии
            </span>
            <div class="promo-cards__item">
              <div class="promo-card__price">
                <span class="promo-cards__promoprice">999<span class="currency">₽</span></span>
                <span class="promo-cards__oldprice">1999<span class="currency">₽</span></span>
              </div>
              <span class="promo-cards__star">4.5
                <svg class="promo-cards__star-img" width="16" height="15">
                  <use xlink:href="images/sprite.svg#star"></use>
                </svg>
              </span>
            </div>
          </div>
        </article>
      </li>

      <li class="promo__item mix category-hit">
        <article class="promo-cards">
          <a class="promo-cards__box" href="#">
            <span class="badge badge--hit promo-cards__badge">Хит</span>
            <img class="promo-cards__img" src="images/top_product/veg_juice.jpg" alt="Сок" width="100" height="100">
          </a>
          <div class="promo-cards__body">
            <h3 class="promo-cards__title">
              Сок Granini овощной 100%, 0.5л
            </h3>
            <span class="promo-cards__availability promo-cards__availability--ends">
              заканчивается
            </span>
            <div class="promo-cards__item">
              <div class="promo-card__price">
                <span class="promo-cards__promoprice">180<span class="currency">₽</span></span>
                <span class="promo-cards__oldprice">230<span class="currency">₽</span></span>
              </div>
              <span class="promo-cards__star">4.9
                <svg class="promo-cards__star-img" width="16" height="15">
                  <use xlink:href="images/sprite.svg#star"></use>
                </svg>
              </span>
            </div>
          </div>
        </article>
      </li>

      <li class="promo__item mix category-hit">
        <article class="promo-cards">
          <a class="promo-cards__box" href="#">
            <span class="badge badge--hit promo-cards__badge">Хит</span>
            <img class="promo-cards__img" src="images/top_product/basket.png" alt="Фруктовая корзина" width="100"
              height="100">
          </a>
          <div class="promo-cards__body">
            <h3 class="promo-cards__title">
              Фруктовая корзина, 1 шт
            </h3>
            <span class="promo-cards__availability promo-cards__availability--instock">
              в наличии
            </span>
            <div class="promo-cards__item">
              <div class="promo-card__price">
                <span class="promo-cards__promoprice">3990<span class="currency">₽</span></span>
                <span class="promo-cards__oldprice">5990<span class="currency">₽</span></span>
              </div>
              <span class="promo-cards__star">4.9
                <svg class="promo-cards__star-img" width="16" height="15">
                  <use xlink:href="images/sprite.svg#star"></use>
                </svg>
              </span>
            </div>
          </div>
        </article>
      </li>

      <li class="promo__item mix category-hit">
        <article class="promo-cards">
          <a class="promo-cards__box" href="#">
            <span class="badge badge--hit promo-cards__badge">Хит</span>
            <img class="promo-cards__img" src="images/top_product/pork.png" alt="Свинина" width="100" height="100">
          </a>
          <div class="promo-cards__body">
            <h3 class="promo-cards__title">
              Свинина мякоть, 1 кг
            </h3>
            <span class="promo-cards__availability promo-cards__availability--instock">
              в наличии
            </span>
            <div class="promo-cards__item">
              <div class="promo-card__price">
                <span class="promo-cards__promoprice">499<span class="currency">₽</span></span>
                <span class="promo-cards__oldprice">599<span class="currency">₽</span></span>
              </div>
              <span class="promo-cards__star">4.6
                <svg class="promo-cards__star-img" width="16" height="15">
                  <use xlink:href="images/sprite.svg#star"></use>
                </svg>
              </span>
            </div>
          </div>
        </article>
      </li>




    </ul>
    <button class="promo__link btn" type="button">Показать еще</button>
  </div>
</section>