<section class="top-products" data-ref="top-products">
  <div class="container">
    <h2 class="title top-products__title">
      Топовые товары
    </h2>
    <ul class="categories-menu">
      <li class="categories-menu__item">
        <button class="categories-menu__btn" type="button" data-filter="all">
          Все товары
        </button>
      </li>

      <li class="categories-menu__item">
        <button class="categories-menu__btn" type="button" data-filter=".category-fruits">
          Фрукты
        </button>
      </li>

      <li class="categories-menu__item">
        <button class="categories-menu__btn" type="button" data-filter=".category-vegetables">
          Овощи
        </button>
      </li>

      <li class="categories-menu__item">
        <button class="categories-menu__btn" type="button" data-filter=".category-beverages">
          Напитки
        </button>
      </li>

      <li class="categories-menu__item">
        <button class="categories-menu__btn" type="button" data-filter=".category-grocery">
          Бакалея
        </button>
      </li>
    </ul>
    <div class="top-products__inner">
      <ul class="products">
        <li class="products__item mix category-fruits">
          <article class="product-card">
            <div class="product-card__top">
              <div class="product-card__badges">
                <span class="badge badge--new">Новинка</span>
                <span class="badge badge--sale">-50 <span>%</span></span>
              </div>
              <button>
                <svg class="product-card__favorit" width="32" height="28">
                  <use xlink:href="images/sprite.svg#heart"></use>
                </svg>
              </button>
            </div>
            <a class="product-card__body" href="#">
              <img class="product-card__img" src="images/top_product/pineapple.png" alt="Ананас">
            </a>
            <h3 class="product-card__subtitle">
              Ананас, 1кг
            </h3>
            <div class="product-card__inner">
              <div class="product-card__price">
                <span class="product-card__oldprice">1999 <span class="currency">₽</span></span>
                <span class="product-card__promoprice">999 <span class="currency">₽</span></span>
              </div>
              <button class="product-card__btn btn">
                <span class="sr-only">Купить</span>
                <svg class="product-card__icon">
                  <use xlink:href="images/sprite.svg#cart"></use>
                </svg>
              </button>
            </div>
          </article>
        </li>

        <li class="products__item mix category-fruits">
          <article class="product-card">
            <div class="product-card__top">
              <div class="product-card__badges">

              </div>
              <button>
                <svg class="product-card__favorit" width="32" height="28">
                  <use xlink:href="images/sprite.svg#heart"></use>
                </svg>
              </button>
            </div>
            <a class="product-card__body" href="#">
              <img class="product-card__img" src="images/top_product/lemon.png" alt="Лимон">
            </a>
            <h3 class="product-card__subtitle">
              Лимон, 1кг
            </h3>
            <div class="product-card__inner">
              <div class="product-card__price">
                <span class="product-card__promoprice">199 <span class="currency">₽</span></span>
              </div>
              <button class="product-card__btn btn">
                <span class="sr-only">Купить</span>
                <svg class="product-card__icon">
                  <use xlink:href="images/sprite.svg#cart"></use>
                </svg>
              </button>
            </div>
          </article>
        </li>

        <li class="products__item mix category-fruits">
          <article class="product-card">
            <div class="product-card__top">
              <div class="product-card__badges">
                <span class="badge badge--hit">Хит</span>
              </div>
              <button>
                <svg class="product-card__favorit" width="32" height="28">
                  <use xlink:href="images/sprite.svg#heart"></use>
                </svg>
              </button>
            </div>
            <a class="product-card__body" href="#">
              <img class="product-card__img" src="images/top_product/dragon.png" alt="Питахайя">
            </a>
            <h3 class="product-card__subtitle">
              Питахайя красная с белой мякотью, 1шт
            </h3>
            <div class="product-card__inner">
              <div class="product-card__price">
                <span class="product-card__promoprice">1019 <span class="currency">₽</span></span>
              </div>
              <button class="product-card__btn btn">
                <span class="sr-only">Купить</span>
                <svg class="product-card__icon">
                  <use xlink:href="images/sprite.svg#cart"></use>
                </svg>
              </button>
            </div>
          </article>
        </li>

        <li class="products__item mix category-vegetables">
          <article class="product-card">
            <div class="product-card__top">
              <div class="product-card__badges">
                <span class="badge badge--new">Новинка</span>
              </div>
              <button>
                <svg class="product-card__favorit" width="32" height="28">
                  <use xlink:href="images/sprite.svg#heart"></use>
                </svg>
              </button>
            </div>
            <a class="product-card__body" href="#">
              <img class="product-card__img" src="images/top_product/paprik.png" alt="Перец">
            </a>
            <h3 class="product-card__subtitle">
              Перец оранжевый, 1кг
            </h3>
            <div class="product-card__inner">
              <div class="product-card__price">
                <span class="product-card__promoprice">349 <span class="currency">₽</span></span>
              </div>
              <button class="product-card__btn btn">
                <span class="sr-only">Купить</span>
                <svg class="product-card__icon">
                  <use xlink:href="images/sprite.svg#cart"></use>
                </svg>
              </button>
            </div>
          </article>
        </li>

        <li class="products__item mix category-vegetables">
          <article class="product-card">
            <div class="product-card__top">
              <div class="product-card__badges">
                <span class="badge badge--hit">Хит</span>
              </div>
              <button>
                <svg class="product-card__favorit" width="32" height="28">
                  <use xlink:href="images/sprite.svg#heart"></use>
                </svg>
              </button>
            </div>
            <a class="product-card__body" href="#">
              <img class="product-card__img" src="images/top_product/carrot.png" alt="Морковь">
            </a>
            <h3 class="product-card__subtitle">
              Морковь молодая с бабушкиной грядки, 1кг
            </h3>
            <div class="product-card__inner">
              <div class="product-card__price">
                <span class="product-card__promoprice">49 <span class="currency">₽</span></span>
              </div>
              <button class="product-card__btn btn">
                <span class="sr-only">Купить</span>
                <svg class="product-card__icon">
                  <use xlink:href="images/sprite.svg#cart"></use>
                </svg>
              </button>
            </div>
          </article>
        </li>

        <li class="products__item mix category-beverages">
          <article class="product-card">
            <div class="product-card__top">
              <div class="product-card__badges">
                <span class="badge badge--sale">-30 <span>%</span></span>
              </div>
              <button>
                <svg class="product-card__favorit" width="32" height="28">
                  <use xlink:href="images/sprite.svg#heart"></use>
                </svg>
              </button>
            </div>
            <a class="product-card__body" href="#">
              <img class="product-card__img" src="images/top_product/juice.png" alt="Сок">
            </a>
            <h3 class="product-card__subtitle">
              Напиток сокосодержащий Sanpellegrino Aranciata Orange Красный апельсин безалкогольный...
            </h3>
            <div class="product-card__inner">
              <div class="product-card__price">
                <span class="product-card__oldprice">299 <span class="currency">₽</span></span>
                <span class="product-card__promoprice">199 <span class="currency">₽</span></span>
              </div>
              <button class="product-card__btn btn">
                <span class="sr-only">Купить</span>
                <svg class="product-card__icon">
                  <use xlink:href="images/sprite.svg#cart"></use>
                </svg>
              </button>
            </div>
          </article>
        </li>

        <li class="products__item mix category-beverages">
          <article class="product-card">
            <div class="product-card__top">
              <div class="product-card__badges">
                <span class="badge badge--new">Новинка</span>
              </div>
              <button>
                <svg class="product-card__favorit" width="32" height="28">
                  <use xlink:href="images/sprite.svg#heart"></use>
                </svg>
              </button>
            </div>
            <a class="product-card__body" href="#">
              <img class="product-card__img" src="images/top_product/coffee.png" alt="Кофе">
            </a>
            <h3 class="product-card__subtitle">
              Кофе с коноплей органический Caffé Salomoni 250г
            </h3>
            <div class="product-card__inner">
              <div class="product-card__price">
                <span class="product-card__promoprice">877 <span class="currency">₽</span></span>
              </div>
              <button class="product-card__btn btn">
                <span class="sr-only">Купить</span>
                <svg class="product-card__icon">
                  <use xlink:href="images/sprite.svg#cart"></use>
                </svg>
              </button>
            </div>
          </article>
        </li>

        <li class="products__item mix category-grocery">
          <article class="product-card">
            <div class="product-card__top">
              <div class="product-card__badges">
              </div>
              <button>
                <svg class="product-card__favorit" width="32" height="28">
                  <use xlink:href="images/sprite.svg#heart"></use>
                </svg>
              </button>
            </div>
            <a class="product-card__body" href="#">
              <img class="product-card__img" src="images/top_product/ketchup.png" alt="кетчуп">
            </a>
            <h3 class="product-card__subtitle">
              Кетчуп томатный детский органический Bio-Zentrale 500мл
            </h3>
            <div class="product-card__inner">
              <div class="product-card__price">
                <span class="product-card__promoprice">600 <span class="currency">₽</span></span>
              </div>
              <button class="product-card__btn btn">
                <span class="sr-only">Купить</span>
                <svg class="product-card__icon">
                  <use xlink:href="images/sprite.svg#cart"></use>
                </svg>
              </button>
            </div>
          </article>
        </li>
      </ul>
      <button class="top-products__link link" type="button">Показать еще</button>
    </div>

    <!--#include virtual="../components/banners.html" -->
  </div>
</section>