<div class="advantages">
    <ul class="advantages__items">
      <li class="advantages__item advantages__item--delivery">
        <span class="advantages__title">Бесплатная доставка</span>
        <span class="advantages__text">
          Для заказов на сумму от 500 ₽
        </span>
      </li>
      <li class="advantages__item advantages__item--return">
        <span class="advantages__title">Возврат товара</span>
        <span class="advantages__text">
          Если товары были испорчены
        </span>
      </li>
      <li class="advantages__item advantages__item--support">
        <span class="advantages__title">Поддержка 24/7</span>
        <span class="advantages__text">
          Лучшие операторы
        </span>
      </li>
    </ul>
</div>