<section class="banners-section"> 
  <div class="container">
    <div class="banners">
      <h2 class="sr-only">Акции</h2>
      <div class="banners__item banners__item--white" style="background-image: url('images/banners/fruits.jpg')">
        <h3 class="banners__subtitle">
          свежайшие фрукты
          <span class="banners__title">
            начни фруктовое лето всего от 99 <span class="currency currency--banners">₽</span></span>
        </h3>

        <a class="banners__link banners__link--white" href="#">
          перейти к покупкам
        </a>
      </div>
      <div class="banners__item" style="background-image: url('images/banners/vegetables.jpg');">
        <h3 class="banners__subtitle">
          сезонная распродажа
          <span class="banners__title">
            овощепад до -50%
          </span>
        </h3>

        <a class="banners__link" href="#">
          перейти к покупкам
        </a>
      </div>
      <div class="banners__item banners__item--3" style="background-image: url('images/banners/bread.jpg')">
        <h3 class="banners__subtitle">
          ням-ням
          <span class="banners__title">
            свежий хлебчик
          </span>
        </h3>

        <a class="banners__link" href="#">
          перейти к покупкам
        </a>
      </div>
    </div>
  </div>
</section>