<div class="brands">
  <div class="container">
    <ul class="brands__box">
        <li class="brands__item">
          <a class="brands__link" href="#">
            <img class="brands__img" width="80" height="33" src="images/brands/sprite.png" alt="спрайт">
          </a>
        </li>

        <li class="brands__item">
          <a class="brands__link" href="#">
            <img class="brands__img" width="80" height="57" src="images/brands/dr-pepper.png" alt="доктор пеппер">
          </a>
        </li>

        <li class="brands__item">
          <a class="brands__link" href="#">
            <img class="brands__img" width="80" height="26" src="images/brands/cocacola.png" alt="кокакола">
          </a>
        </li>

        <li class="brands__item">
          <a class="brands__link" href="#">
            <img class="brands__img" width="80" height="30"  src="images/brands/pepsi.png" alt="пепси">
          </a>
        </li>

        <li class="brands__item">
          <a class="brands__link" href="#">
            <img class="brands__img" width="80" height="48" src="images/brands/redbull.png" alt="редбул">
          </a>
        </li>

        <li class="brands__item">
          <a class="brands__link" href="#">
            <img class="brands__img" width="80" height="58" src="images/brands/fanta.png" alt="фанта">
          </a>
        </li>
        
        <li class="brands__item">
          <a class="brands__link" href="#">
            <img class="brands__img" width="80" height="33" src="images/brands/sprite.png" alt="спрайт">
          </a>
        </li>
    </ul>
  </div>
</div>