<aside class="cart">
  <div class="cart__wrapper">

    <div class="cart__top">
      <div class="cart__top-wrapper">
        <h2 class="cart__title">Корзина</h2>
        <button class="cart__clear" type="button">очистить корзину</button>
      </div>

      <button class="close close--cart" type="button">
        <span class="sr-only">закрыть корзину</span>
        <svg class="close-img" width="24" height="24">
          <use xlink:href="images/sprite.svg#close"></use>
        </svg>
      </button>
    </div>

    <ul class="cart__body">
      <li class="cart__body-item">
        <article class="cart-list">
          <div class="cart-list__box">
            <div class="cart-list__item">
              <a class="cart-list__img-box" href="#">
                <img class="cart-list__img" src="../images/top_product/pineapple.png" alt="Ананас">
              </a>
              <div class="cart-list__text-box">
                <h3 class="cart-list__title">Ананас, 1 кг</h3>
                <span class="cart-list__price">999<span class="currency">₽</span></span>
              </div>
            </div>
            <span class="sr-only">удалить товар</span>
            <button class="cart-list__del" type="button">
              <svg class="cart__close-img" width="12" height="12">
                <use xlink:href="images/sprite.svg#close"></use>
              </svg>
            </button>
          </div>

          <div class="cart-list__footer">
            <div class="cart-list__counter">
              <button class="cart-list__btn cart-list__btn--minus" type="button">
                <span class="sr-only">убрать 1 товар</span>
                <svg width="12" height="12">
                  <use xlink:href="images/sprite.svg#minus"></use>
                </svg>
              </button>
              <input class="cart-list__amount" disabled value="2">
              <span class="sr-only">добавить 1 товар</span>
              <button class="cart-list__btn cart-list__btn--plus" type="button">
                <svg width="12" height="12">
                  <use xlink:href="images/sprite.svg#plus"></use>
                </svg>
              </button>
            </div>
            <span class="cart-list__price">1998<span class="currency">₽</span></span>
          </div>
      </li>

      <li class="cart__body-item">
        <article class="cart-list">
          <div class="cart-list__box">
            <div class="cart-list__item">
              <a class="cart-list__img-box" href="#">
                <img class="cart-list__img" src="../images/top_product/dragon.png" alt="Питахайя">
              </a>
              <div class="cart-list__text-box">
                <h3 class="cart-list__title">Питахайя красная с белой мякотью, 1шт</h3>
                <span class="cart-list__price">1019<span class="currency">₽</span></span>
              </div>
            </div>
            <span class="sr-only">удалить товар</span>
            <button class="cart-list__del" type="button">
              <svg class="cart__close-img" width="12" height="12">
                <use xlink:href="images/sprite.svg#close"></use>
              </svg>
            </button>
          </div>

          <div class="cart-list__footer">
            <div class="cart-list__counter">
              <button class="cart-list__btn cart-list__btn--minus" type="button">
                <span class="sr-only">убрать 1 товар</span>
                <svg width="12" height="12">
                  <use xlink:href="images/sprite.svg#minus"></use>
                </svg>
              </button>
              <input class="cart-list__amount" disabled value="2">
              <span class="sr-only">добавить 1 товар</span>
              <button class="cart-list__btn cart-list__btn--plus" type="button">
                <svg width="12" height="12">
                  <use xlink:href="images/sprite.svg#plus"></use>
                </svg>
              </button>
            </div>
            <span class="cart-list__price">1998<span class="currency">₽</span></span>
          </div>
        </article>
      </li>
    </ul>
    
    <div class="cart__bottom">
      <div class="cart__bottom-wrapper">
        <span class="cart__bottom-text">Товаров на сумму</span>
        <span class="cart__sum">2038<span class="currency">₽</span></span>
      </div>
      <a class="cart__buy" href="#">Оформить заказ</a>
    </div>
  </div>
</aside>