<div class="menu">
    <div class="menu__top">
      <a class="logo" href="#">
        <img class="logo__img" width="200" height="60" src="images/logo2.svg" alt="Логотип">
      </a>
      <button class="close close--menu" type="btn">
        <div class="sr-only">закрыть меню</div>
        <svg class="close-img" width="24" height="24">
          <use xlink:href="images/sprite.svg#close"></use>
        </svg>
      </button>
    </div>

    <div class="menu__registration">
      <div class="menu__container">
        <a class="menu__registration-link menu__registration-link--signin" href="#">Вход</a>
        <a class="menu__registration-link" href="#">Регистрация</a>
      </div>
    </div>

    <div class="menu__catalog">
      <div class="menu__container">
        <a class="menu__catalog-link" href="#">
          Каталог товаров
        </a>
      </div>
    </div>

    <address class="menu__address">
      <div class="menu__container">
        <a class="menu__link menu__link--tel" href="tel:+7907288365">+7 907 288 365
          <svg class="menu__img menu__img--tel">
            <use xlink:href="images/sprite.svg#tel"></use>
          </svg>
        </a>
        <a class="menu__link menu__link--address" href="#">Санкт-Петербург, ул. Ленина, 1
          <svg class="menu__img menu__img--address">
            <use xlink:href="images/sprite.svg#address"></use>
          </svg>
        </a>
        <ul class="social">
          <li class="social__item">
            <a class="social__link" href="#">
              <svg class="social__link-img social__link-img--menu">
                <use xlink:href="images/sprite.svg#facebook"></use>
              </svg>
            </a>
          </li>

          <li class="social__item">
            <a class="social__link" href="#">
              <svg class="social__link-img social__link-img--menu">
                <use xlink:href="images/sprite.svg#youtube"></use>
              </svg>
            </a>
          </li>

          <li class="social__item">
            <a class="social__link" href="#">
              <svg class="social__link-img social__link-img--menu">
                <use xlink:href="images/sprite.svg#telegram"></use>
              </svg>
            </a>
          </li>

          <li class="social__item">
            <a class="social__link" href="#">
              <svg class="social__link-img social__link-img--menu">
                <use xlink:href="images/sprite.svg#instagram"></use>
              </svg>
            </a>
          </li>
        </ul>
      </div>
    </address>

    <div class="menu__container">
      <ul class="menu__list">
        <li class="menu__list-item">
          <a class="menu__list-link" href="#">Доставка</a>
        </li>
        <li class="menu__list-item">
          <a class="menu__list-link" href="#">О нас</a>
        </li>
        <li class="menu__list-item">
          <a class="menu__list-link" href="#">Новости</a>
        </li>
        <li class="menu__list-item">
          <a class="menu__list-link" href="#">Контакты</a>
        </li>
        <li class="menu__list-item">
          <a class="menu__list-link" href="#">Акции</a>
        </li>
        <li class="menu__list-item">
          <a class="menu__list-link" href="#">Вакансии</a>
        </li>
        <li class="menu__list-item">
          <a class="menu__list-link" href="#">Отзывы</a>
        </li>
        <li class="menu__list-item">
          <a class="menu__list-link" href="#">Публичная оферта</a>
        </li>
      </ul>
    </div>
  </div>