<section class="news">
  <div class="container">
    <div class="news__header">
      <h2 class="title news__title">наши новости</h2>
      <a class="news__header-link" href="#">все новости</a>
    </div>
    
    <ul class="news__items">
      <li class="news__item">
        <article class="news__box">
          <a class="news__link" href="#">
            <div class="news__date">
              июль
              <span class="news__num">15</span>
            </div>
            <div class="news__img-box">
              <img class="news__img" src="images/news/1.jpg" width="410" height="240" alt="Событие этого лета">
            </div>
          </a>
          <h3 class="news__text">
            Событие этого лета: распродажа сезонных фруктов в онлайн-маркете ФрешОК. Торопись, пока всё не
            разобрали!
          </h3>
        </article>
      </li>

      <li class="news__item">
        <article class="news__box">
          <a class="news__link" href="#">
            <div class="news__date">
              май
              <span class="news__num">07</span>
            </div>
            <div class="news__img-box">
             
              <img class="news__img" src="images/news/2.jpg" width="410" height="240" alt="Шикарнейший выбор манго">
            </div>
          </a>
          <h3 class="news__text">
            Шикарнейший выбор манго в нашем онлайн-маркете
          </h3>
        </article>
      </li>

      <li class="news__item">
        <article class="news__box">
          <a class="news__link" href="#">
            <div class="news__date">
              февраль
              <span class="news__num">20</span>
            </div>
            <div class="news__img-box">
              <img class="news__img" src="images/news/3.jpg" width="410" height="240" alt="Всё, что вы хотели знать о папайя">
            </div>
          </a>
          <h3 class="news__text">
            Всё, что вы хотели знать о папайя
          </h3>
        </article>
      </li>
    </ul>
  </div>
</section>