.advantages {
  display: flex;
  justify-content: space-between;
  background-color: $silver-100;
  &__items {
    padding: 48px 0 23px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }

  &__item {
    max-width: 275px;
    width: 100%;
    padding-left: 75px;
    position: relative;
    margin: 0 25px 25px;
    &::before{
      content: '';
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: 0;
      width: 50px;
      height: 50px;
    }

    &--delivery {
      &::before {
        @include bg(url('../images/sprite/scooter.svg'));
      }
    }

    &--return {
      &::before {
        @include bg(url('../images/sprite/return.svg'));
      }
    }

    &--support {
      &::before {
        @include bg(url('../images/sprite/support.svg'));
      }
    }
  }

  &__title {
    @include Lato(700);
    font-size: 16px;
    color: $dark-900;
    margin-bottom: 5px;
    display: block;
  }

  &__text {
    @include Lato(400);
  }
}

@media (max-width:670px) {
  .advantages {
    &__items {
      padding: 25px 0 0 0;
      display: block;
    }

    &__item {
      margin: 0 0 25px 10px;
    }
  }
}