.brands {
  &__box {
    padding: 25px 0;
  }

  &__link {
    height: 58px;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0.7;
    transition: opacity 0.3s linear;
    &:hover {
      opacity: 1;
    }
  }
  
  &__box-img {
    max-width: 80px;
    width: 100%;
  }
}