.footer{
  padding: 30px 0;
  background-color: $dark-800;
  color: $white;
  &__head {
    margin-bottom: 30px;
  }

  &__body {
    margin-bottom: 30px;
    display: flex;
    justify-content: space-between;
    @include xl {
      flex-wrap: wrap;
      justify-content: space-around;
    }

    @include lg {
      flex-direction: column-reverse;
      align-items: center;
    }
  }

  &__text  {
      margin-bottom: 20px;
  }

  &__form {
    display: flex;
  }

  &__input {
    border: none;
    max-width: 182px;
    width: 100%;
    border-radius: 6px 0 0 6px;
    padding: 10px 12px 10px 12px;
    &::placeholder {
      @include Lato(400);
      color: $dark-800;
    }
  }

  &__btn {
    text-transform: uppercase;
    font-size: 12px;
    line-height: 1.1;
    border-radius: 0 6px 6px 0;
    padding: 12px;
    max-width: 118px;
    width: 100%;
    @include Lato(400);
    color: $white;
  }

  &__menu {
    max-width: 536px;
    width: 100%;
    margin-left: 70px;
    
    @include xl {
      margin: 0 0 30px 30px;
    }

    @include lg {
      margin-top: 24px;
    }

    @include md {
      max-width: 340px;
    }
  }

  &__box {
    columns: 3;
    column-gap: 80px;

    @include lg {
      text-align: left;
    }

    @include md {
      column-count: 2;
    }
  }

  &__box-item {
    margin-bottom: 15px;
    display: block;
  }

  &__link {
    transition: opacity 0.3s;
    &:not(:last-child) {
      margin-bottom: 18px;
    }
    
    &:hover,
    &:active,
    &:focus {
      opacity: 0.7;
    }
  }

  &__tel {
    margin-left: 10px;
    &:hover,
    &:active,
    &:focus {
      opacity: 0.8;
    }
  }

  &__address {
    margin: 18px 0;
  }

  &__bottom {
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    padding: 30px 0 0;
  }

  &__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__payment {
    display: flex;
  }

  &__payment-img {
    width: 93px;
    height: 29px;
    fill: $white;
    &:not(:first-child) {
      margin-left: 24px;
      width: 50px;
    }
  }

  &__span {
    text-transform: uppercase;
  }

  &__newsletter  {

    @include xl {
      margin-bottom: 30px;
    }

    @include lg {
      margin-bottom: 0px;
    }
  }

  &__contacts {
    @include lg {
      padding-bottom: 24px;
    }
  }

  @include lg {
    text-align: center;
    flex-direction: column;

    .social {
      &--footer {
        justify-content: center;
      }
    }
  }
}