.header {
  position: relative;
  &__top {
    background-color: $dark-800;
  }

  &__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;

    &--top {
      padding: 17px 0;
      color: $white;
      text-transform: uppercase;
      
    }

    &--bottom { 
      padding: 25px 0;
    }
  }

  &__burger {
    display: none;
  }

  &__links {
    display: flex;
  }

  &__link {
    font-size: 13px;
    position: relative;
    transition: opacity 0.3s;

    &:hover {
      opacity: 0.7;
    }

    &::after {
      content: '';
      position: absolute;
      left: 2px;
      bottom: 0;
    }

    &--tel {
      margin-left: 48px;
    }
  }

  &__link-img {
    margin: 0 5px -2px 0;
    width: 32px;
    height: 22px;
  }

  &__list {
    display: flex;
    justify-content: space-between;
    align-items: center
  }

  &__item {
    &:not(:last-child) {
      margin-right: 24px;
    }
  }

  &__bottom {
    background-color: $green-900;
  }

  &__catalog {
    background-color: $white;
    @include Lato(600);
    color: $green-900;
    padding: 16px 55px 15px;
    border-radius: 6px;
    min-width: 234px;
    position: relative;
    margin: 0 20px;
  
    &::after {
      content: '';
      position: absolute;
      top: 50%;
      right: 23px;
      transform: translateY(-50%);
      width: 8px;
      height: 4px;
      @include bg(url('../images/sprite/catalog__arrow.svg'));
    }

    &::before {
      content: '';
      position: absolute;
      top: 50%;
      left: 13px;
      transform: translateY(-50%);
      width: 25px;
      height: 19px;
      @include bg(url('../images/sprite/catalog.svg'));
    }
  }

  &__catalog-img {
      width: 25px;
      height: 17px;
      margin-right: 18px;
    }
}

.catalog {
  display: none;
  position: absolute;
  top: 50px;
  left: 0;
  background-color: $white;
  width: 100%;
  z-index: 1;
  text-align: left;
  border: 1px solid $silver-200;
  border-radius: 0px 0px 6px 6px;
  :not(:last-child) {
        border-bottom: 1px solid $silver-200;
      }

		&__item {
      color: $dark;
      transition: all 2s;
      :hover {
        color: $green-900;
        border-left: 3px solid $green-900;
      }
		}

		&__link {
      display: block;
      padding: 10px 24px;
		}

    &--active {
      display: block;
    }
}

.search {
  display: flex;
  position: relative;
  width: 45%;
  &::after {
    content: '';
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 13px;    
    width: 20px;
    height: 20px;
    background-image: url('../images/sprite/search.svg');
  }

  &__input {
    display: flex;
    align-items: center;
    border: none;
    width: 100%;
    border-radius: 6px 0 0 6px;
    padding: 16px 10px 15px 53px;
  }

  &__input {
    &::placeholder{
      @include Lato(400);
      color: $dark-800;
    }
  }

  &__btn {
    text-transform: uppercase;
    line-height: 1.4;
    background-color: $dark-800;
    border-radius: 0 6px 6px 0;
    width: 158px;
    @include Lato(600);
    color: $white;
    transition: all 0.3s;
    &:hover {
      background-color: rgba(49, 53, 43, 0.85);
    }

    &:active {
      color: rgba(255, 255, 255, 0.5);
    }

    &:focus {
      box-shadow: 0px 0px 0px 4px rgba(255, 255, 255, 0.5);
    }
  }
}

.cart {
  display: none;
  max-width: 475px;
  width: 100%;
  height: 100vh;
  background-color: $white;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 3;

  &--active {
    display: block;
  }

  &__wrapper {
    // display: flex;
    // flex-direction: column;
  }

  &__top {
    padding: 10px;
    display: flex;
    justify-content: space-between;
  }

  &__title {
    font-size: 24px;
    line-height: 1.2;
    color: $dark;
  }

  &__clear {
    @include Lato(300);
    color: $dark;
    line-height: 1.2;
  }

  &__body {
    padding: 13px 11px;
    background-color: $silver-100;
    // flex: 1 0 auto;
    height: calc(100vh - 213px);
  }

  &__bottom-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px;
  }

  &__bottom-text {
    font-size: 24px;
    line-height: 1.2;
    color: $dark;
  }

  &__sum {
    font-size: 20px;
    line-height: 1;
    color: $dark-500;
    @include Lato(600);
    span {
      font-size: 15px;
    }
  }

  &__buy {
    width: 100%;
    margin: 0 auto;
    display: block;
    text-align: center;
    padding: 22.5px 0;
    background-color: $green-900;
    color: $white;
    font-size: 18px;
    line-height: 1.3;
  }
}

.cart-list {
  background-color: $white;
  display: flex;
  justify-content: space-between;
  border: 1px solid $silver-600;
  border-radius: 3px;
  padding: 12px;
  margin-bottom: 12px;

		&__item {
      display: flex;
      align-items: center;
      margin-bottom: 12px;
		}

		&__img-box {
      max-width: 60px;
      height: 60px;
      margin-right: 32px;
		}

		&__img {
      width: 100%;
      height: 100%;
      object-fit: cover;
		}

		&__title {
      max-width: 133px;
      width: 100%;
      display: block;
      color: $dark-900;
      @include Lato(600);
      margin-bottom: 5px;
		}

		&__price {
      display: block;
      span {
        font-size: 12px;
      }
		}

    &__box {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
    }

		&__del {
      margin-bottom: 10px;
		}

		&__footer {
      display: flex;
      align-items: center;
		}

		&__counter {
      background-color: rgba(99, 166, 14, 0.1);
      margin-right: 12px;
		}

    &__amount {
      padding: 5px 14px;
    }

    &__btn {
      background-color: $green-900;
      padding: 4px 6px;
    }
}

.menu {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  background-color: $white;
  max-width: 300px;
  height: 100vh;
  z-index: 5;
  &--active {
    display: block;
  }

		&__container {
      max-width: 240px;
      width: 100%;
      margin: 0 auto;
		}

		&__top {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 26px 26px 26px 15px;
		}

		&__registration {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 15px 56px 15px 70px;
      background-color: $green-900;
		}

		&__registration-link {
      font-size: 18px;
      line-height: 1;
      color: $white;
      margin: 0 5px;
      &--signin {
        position: relative;
        &::after {
          content: '';
          position: absolute;
          top: 0;
          right: -8px;
          width: 1px;
          height: 100%;
          background-color: $white;
        }

        &::before {
          content: '';
          position: absolute;
          top: -5px;
          left: -40px;
          background-image: url('../images/sprite/user.svg');
          width: 25px;
          height: 32px;
        }
      }
		}

		&__catalog {
      display: flex;
      padding: 14px 0;
      border-bottom: 1px solid $silver-600;
		}

		&__catalog-link {
      margin-left: 50px;
      color: $dark-800;
      font-size: 18px;
      line-height: 1;
      @include Lato(600);
      position: relative;
      &::after {
        content: '';
        position: absolute;
        top: 3px;
        left: -45px;
        background-image: url('../images/sprite/catalog.svg');
        width: 25px;
        height: 19px;
      }
		}

		&__address {
      padding: 26px 0 24px;
      border-bottom: 1px solid $silver-600;
		}

		&__link {
      display: block;
      margin-left: 50px;
      font-size: 18px;
      line-height: 1;
      font-style: normal;
      color: $dark-800;
      margin-bottom: 18px;
		}

		&__link--tel {
      position: relative;
      &::after {
        content: '';
        position: absolute;
        top: 3px;
        left: -45px;
        background-image: url('../images/sprite/tel.svg');
        width: 23px;
        height: 23px;
      }
		}

		&__link--address {
      position: relative;
      &::after {
        content: '';
        position: absolute;
        top: 3px;
        left: -45px;
        background-image: url('../images/sprite/address.svg');
        width: 24px;
        height: 33px;
      }
		}

		&__list {
      padding: 24px 0;
      background-color: $white;
		}

		&__list-item {
      &:not(:last-child) {
        margin-bottom: 15px;
      }
		}

		&__list-link {
      color: $dark-800;
      font-size: 18px;
      line-height: 1.2;
		}
}

.user {
  margin-right: 10px;
  display: flex;
  align-items: center;
  &__item {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    border-radius: 6px;
    position: relative;
    
    &:not(:last-child) {
      margin-right: 12px;
    }

    &:hover {
      background-color: $silver-600;
    }

    &--search {
      display: none;
    }
  }

  &__img {
    width: 32px;
    height: 28px;
    object-fit: cover;
  }

  &__num {
    position: absolute;
    width: 18px;
    height: 18px;
    border-radius: 10px;
    background-color: $white;
    top: 2px;
    left: 2px;
    text-align: center;
    font-size: 10px;
    line-height: 20px;
    color: $red-900;
  }
}

@media (max-width: 1200px) {
  .logo {
    margin-right: 10px;
    &__img--header {
      display: none;
    }

    &__img--l {
      display: block;
    }
  }

  .header {
    &__catalog {
      margin-right: 10px;
    }
  }

  .search {
    margin-right: 10px;
  }
}

@media (max-width: 870px) {
  .header {
    &__link {
      &--tel {
        margin-left: 18px;
      }
    }
  }
  .search {
    display: none;
    &--active {
      display: flex;
      position: absolute;
      width: 100%;
      top: 153px;
      left: 0;
      border: 1px solid $dark-500;
      z-index: 2;
    }
     &__btn,
      &__input {
        border-radius: 0px;
      }
  }

  .user {
    &__item {
      &--search {
        display: flex;
      }
    }
  }
}

@media (max-width: 670px) {
  .header {
    &__list {
      display: none;
    }

    &__burger {
    display: block;
  }

    &__wrapper--top {
      flex-flow: row-reverse;
    }

    &__link-text {
      display: none;
    }

    &__catalog {
      margin: 0;
    }
  }

  .user {
    &__item--user,
    &__item--heart {
      display: none;
    }
  }
}

@media (max-width: 430px) {
  .header {
    &__catalog {
      min-width: 0;
      &--none {
        display: none;
      }
    }
  }
}