.header {
  position: relative;
  &__top {
    background-color: $dark-800;
  }

  &__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;

    &--top {
      padding: 17px 0;
      color: $white;
      text-transform: uppercase;
      @include md {
        flex-flow: row-reverse;
      }
    }

    &--bottom { 
      padding: 25px 0;
    }
  }

  &__burger {
    display: none;
    width: 30px;
    height: 20px;
    @include md {
      display: block;
    }
  }

  &__burger-img {
    width: 30px;
    height: 2px;
    background-color: $white;
    position: relative;
    &::after {
      content: '';
      position: absolute;
      top: 10px;
      left: 0;
      width: 30px;
      height: 2px;
      background-color: $white;
    }

    &::before {
      content: '';
      position: absolute;
      top: -10px;
      left: 0;
      width: 30px;
      height: 2px;
      background-color: $white;
    }
  }

  &__links {
    display: flex;
  }

  &__link {
    font-size: 13px;
    position: relative;
    transition: opacity 0.3s;

    &:hover {
      opacity: 0.7;
    }

    &::after {
      content: '';
      position: absolute;
      left: 2px;
      bottom: 0;
    }

    &--address {
      padding-left: 45px;
    }

    &--tel {
      padding-left: 45px;
      margin-left: 52px;
      @include lg {
        margin-left: 18px;
      }
    }
  }

  &__link-img {
    position: absolute;
    top: -4px;
    left: 0;
    width: 32px;
    height: 22px;
    fill: $white;
  }

  &__link-text {
    @include md {
      display: none;
    }
  }

  &__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    @include md {
      display: none;
    }
  }

  &__item {
    &:not(:last-child) {
      margin-right: 24px;
    }
  }

  &__bottom {
    background-color: $green-900;
  }

  &__catalog {
    background-color: $white;
    @include Lato(600);
    color: $green-900;
    padding: 16px 55px 15px;
    border-radius: 6px;
    min-width: 234px;
    position: relative;
    outline: transparent;
    transition: all 0.3s linear;
    &:focus,
    &:hover,
    &:active {
      background-color: $green-200;
      .header__catalog-arrows {
        transform: rotateX(180deg);
      }
    }

    @include xl {
      margin-right: 10px
    }
    @include md {
      margin: 0;
    }
    @include sm {
      min-width: 0;
    }

    &--none {
      @include sm {
        display: none;
      }
    }
  }

  &__catalog-list {
      position: absolute;
      top: 50%;
      left: 13px;
      transform: translateY(-50%);
      width: 25px;
      height: 19px;
      fill: $green-900;
    }

  &__catalog-arrows {
    position: absolute;
    top: 50%;
    right: 23px;
    width: 8px;
    height: 4px;
    fill: $green-900;
  }

  &__catalog-img {
      width: 25px;
      height: 17px;
      margin-right: 18px;
    }
}

.list {
  display: none;
  position: absolute;
  top: 50px;
  left: 0;
  background-color: $white;
  width: 100%;
  z-index: 1;
  text-align: left;
  border: 1px solid $silver-200;
  border-radius: 0px 0px 6px 6px;
  transition: display 0.3s linear;

  &__item {

    &:not(:last-child) {
        border-bottom: 3px solid $silver-200;
      }
  }

  @include xl {
    overflow: auto;
    max-height: 400px;
  }

		&__link {
      display: block;
      padding: 10px 24px;
      color: $dark;
      transition: all 0.3s linear;
      border-left: 3px solid transparent;
      &:hover {
        color: $green-900;
        border-left: 3px solid $green-900;
      }
		}

    &--active {
      display: block;
    }
}

.search {
  display: flex;
  position: relative;
  width: 45%;
  @include xl {
    margin-right: 10px;
  }
  @include lg {
    display: none;
  }

  &--active {
    @include lg {
      display: flex;
      position: absolute;
      width: 100%;
      top: 153px;
      left: 0;
      border: 1px solid $dark-500;
      z-index: 2;
    }
  }

  &__input {
    display: flex;
    align-items: center;
    border: none;
    width: 100%;
    border-radius: 6px 0 0 6px;
    padding: 16px 10px 15px 53px;
    outline: transparent;
    background-image: url(../images/sprite.svg#search);
    background-position: -2% 50%;
    background-repeat: no-repeat;
    background-size: 60px;
    
    @include lg {
      border-radius: 0px;
    }
    &::placeholder{
      @include Lato(400);
      color: $dark-800;
    }
  }

  &__btn {
    text-transform: uppercase;
    line-height: 1.4;
    background-color: $dark-800;
    border-radius: 0 6px 6px 0;
    padding: 0 52px;
    @include Lato(600);
    color: $white;
    outline: transparent;
    transition: all 0.3s;
    @include lg {
      border-radius: 0px;
    }
    &:hover {
      background-color: rgba(49, 53, 43, 0.85);
    }

    &:active {
      color: rgba(255, 255, 255, 0.5);
    }

    &:focus {
      box-shadow: 0px 0px 0px 4px rgba(255, 255, 255, 0.5);
    }
  }
}



.menu {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  background-color: $white;
  max-width: 300px;
  height: 100vh;
  z-index: 5;
  &--active {
    display: block;
    box-shadow: 0 0 0 9999px rgba(0,0,0, 0.5);
  }

		&__container {
      max-width: 240px;
      width: 100%;
      margin: 0 auto;
		}

		&__top {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 26px 26px 26px 15px;
		}

		&__registration {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 15px 56px 15px 70px;
      background-color: $green-900;
		}

		&__registration-link {
      font-size: 18px;
      line-height: 1;
      color: $white;
      margin: 0 5px;
      &--signin {
        position: relative;
        &::after {
          content: '';
          position: absolute;
          top: 0;
          right: -8px;
          width: 1px;
          height: 100%;
          background-color: $white;
        }

        &::before {
          content: '';
          position: absolute;
          top: -5px;
          left: -40px;
          background-image: url('../images/sprite/user.svg');
          width: 25px;
          height: 32px;
        }
      }
		}

		&__catalog {
      display: flex;
      padding: 14px 0;
      border-bottom: 1px solid $silver-600;
		}

		&__catalog-link {
      padding-left: 50px;
      color: $dark-800;
      font-size: 18px;
      line-height: 1;
      @include Lato(600);
      position: relative;
      &::after {
        content: '';
        position: absolute;
        top: 3px;
        left: 7px;
        background-image: url('../images/sprite/catalog.svg');
        width: 25px;
        height: 19px;
      }
		}

		&__address {
      padding: 26px 0 24px;
      border-bottom: 1px solid $silver-600;
		}

		&__link {
      display: block;
      margin-left: 50px;
      font-size: 18px;
      line-height: 1;
      font-style: normal;
      color: $dark-800;
      margin-bottom: 18px;

      &--tel,
      &--address {
        position: relative;
      }
		}

    &__img {
      position: absolute;
      left: -45px;
      top: 0;
      width: 24px;

      &--tel {
        height: 25px;
      }

      &--address {
        height: 33px;
      }
    }



		&__list {
      padding: 24px 0;
      background-color: $white;
      overflow: auto;
      max-height: 400px;

      @include scroll;
		}

		&__list-item {
      &:not(:last-child) {
        margin-bottom: 15px;
      }
		}

		&__list-link {
      color: $dark-800;
      font-size: 18px;
      line-height: 1.2;
		}
}

.user {
  margin-right: 10px;
  display: flex;
  align-items: center;
  &__item {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 6px;
    position: relative;
    outline: transparent;
    transition: all 0.3s linear;
    
    &:not(:last-child) {
      margin-right: 12px;
    }

    &:hover,
    &:active,
    &:focus {
      background-color: $silver-600;
    }

    &--search {
      display: none;
      @include lg {
        display: flex;
      }
    }

    &--user,
    &--heart {
      @include md {
        display: none;
      }
    }
  }

  &__link {
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__img {
    width: 32px;
    height: 30px;
    object-fit: cover;
    fill: $white;
    &--user {
      height: 32px;
    }

    &--heart {
      height: 28px;
    }
  }

  &__num {
    position: absolute;
    min-width: 22px;
    min-height: 18px;
    padding: 2px;
    border-radius: 10px;
    background-color: $white;
    top: 2px;
    left: 2px;
    text-align: center;
    font-size: 10px;
    line-height: 20px;
    color: $red-900;
  }
}

.social {
  &__link-img {
    &--menu {
      fill: $dark-800;
    }
  }
}
