.promo {
  background-color: $dark-100;
  padding: 72px 0;
  text-align: center;

  @include lg {
    padding: 30px 0;
  }

		&__title {
      text-align: center;
      margin-bottom: 32px;

      @include lg {
        margin-bottom: 10px;
      }
		}

    &__list {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
      margin: 0 -15px;
		}

		&__item {
      background-color: $white;
      max-width: 300px;
      width: 100%;
      margin: 0 15px;
      border: 2px solid $silver-600;
      transition: border 0.5s;
      padding: 13px 12px;
      border-radius: 6px;
      margin-bottom: 30px;

      &:hover {
        border: 2px solid $green-900;
      }

      @include lg {
        padding: 13px 25px;
      }
		}

    &__link {
      display: inline-block;
      color: $white;
      font-size: 18px;
      @include Lato(400);
      padding: 12px 24px;
    }
}

.promo-filter {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;

  @include lg {
    margin-bottom: 10px;
  }

  &__item {
    margin-right: 27px;
  }

  &__btn {
    text-transform: uppercase;
    font-size: 17px;
    outline: transparent;
    border-bottom: 3px solid transparent;
    transition: border-bottom-color 0.3s;
    &:hover,
    &:active,
    &:focus {
      border-bottom: 3px solid $green-200;
    }
  }

  .mixitup-control-active {
    border-bottom: 3px solid #e0edcf;
}
}

.promo-cards {
  text-align: left;
  display: flex;
  
		&__box {
      margin-right: 12px;
		}

    &__img {
      min-width: 100px;
      object-fit: cover;
      position: relative;
		}

    &__badge {
      position: absolute;
      z-index: 1;
    }

		&__body {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
		}

		&__title {
      @include Lato(600);
      color: $dark-900;
      font-size: 15px;
      @include lc(3);
      margin-bottom: auto;
		}

		&__availability {
      @include Lato(600);
      font-size: 10px;
      line-height: 1;
      text-transform: uppercase;
      margin-bottom: 5px;
      &--instock {
        color: $green-900;
      }

      &--ends {
        color: $red-900;
      }

      &--no {
        color: $silver-600;
      }
		}

    &__item {
      display: flex;
      align-items: center;
    }

    &__price {
      color: $dark-500;
      line-height: 1.2;
    }

    &__oldprice {
      color: $silver-600;
      position: relative;
      font-size: 12px;
      line-height: 1;
      margin-right: 12px;
      &::after {
        content: '';
        position: absolute;
        bottom: 10px;
        left: 0;
        right: 0;
        height: 1px;
        background-color: $silver-600;
        transform: rotate(346deg);
      }
    }

    &__promoprice {
      margin-right: 4px;
      font-size: 20px;
      line-height: 1;
      span {
        font-size: 14px;
      }
    }

    &__star {
      max-width: 40px;
      width: 100%;
      position: relative;
    }

    &__star-img {
      position: absolute;
      right: 0;
      top: 2px;
      fill: $yellow;
    }
}