.news {
  font-size: 18px;
  @include Lato(600);
  color: $dark-900;

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
    @include md {
      display: block;
      margin-bottom: 20px;
    }
  }

  &__header-link {
    font-size: 14px;
    color: $green-900;
    text-transform: uppercase;
    border-bottom: 2px solid $green-900;
    &:hover {
      color: $green-800;
    }
  }

  &__title {
    @include md {
      margin-bottom: 30px;
    }
  }

  &__items {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    margin-bottom: 75px;
    @include lg {
      margin-bottom: 30px;
    }
    
    @include md {
      flex-wrap: wrap;
      justify-content: center;
    }
  }

  &__item {
    margin: 0 10px;
    @include md {
      margin-bottom: 15px;
    }
  }

  &__box {
    display: flex;
    flex-direction: column;
    max-width: 410px;
    width: 100%;
    height: 100%;
    box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.25);
    border-radius: 6px;
    position: relative;
    transition: color 0.3s linear;
    cursor: pointer;
    &:hover  {
      color: $green-900;
    }
  }

  &__date {
    position: absolute;
    top: 0;
    left: 20px;
    text-align: center;
    font-size: 10px;
    line-height: 1.2;
    color: $dark-900;
    @include Lato(700);
    padding: 18px 16px;
    background-color: $white;
    border-radius: 0px 0px 4px 4px;
    text-transform: uppercase;
  }

  &__num {
    font-size: 30px;
    line-height: 1;
    @include Signika(600);
    display: block;
  }

  &__img-box {
    max-width: 400px;
    max-height: 240px;
    margin-bottom: 18px;
  }
  
  &__img {
    
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &__text {
    padding: 0 18px 0 18px;
    margin-bottom: 18px;
    @include lc(3);
  }
}