.products {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0 -15px 15px;
  &--list {
    display: none;
  }

  @include lg {
    margin-bottom: 15px;
  }

  &__item {
    margin: 0 15px 30px;

    &--list {
      margin: 0 0 30px;
    }

    @include md {
      margin-bottom: 20px;
    }

    @include sm {
      margin-bottom: 10px;
    }
  }
}

.top-products {
  padding: 72px 0;
  text-align: center;

  @include lg {
    padding: 30px 0;
  }

  &__title {
    text-align: center;
    margin-bottom: 35px;
  }
  &__link {
    border-radius: 6px;
    color: $green-900;
    outline: transparent;
    @include lg {
      margin-bottom: 30px;
    }
    
    &:hover {
      background-color: $green-100;
    }
    &:active {
      opacity: 0.5;
      box-shadow: none;
    }
  }
}

.product-card {
  display: flex;
  flex-direction: column;
  background-color: $white;
  border: 1px solid rgba(17, 17, 17, 0.2);
  border-radius: 6px;
  height: 100%;
  max-width: 300px;
  text-align: left;
  transition: border-color 0.3s linear;
  min-height: 409px;
  cursor: pointer;
  
  @include lg {
    min-height: 380px;
  }

  @include md {
    min-height: 180px;
  }
  
  &:hover,
  &:active,
  &:hover {
    border-color: $green-900;
  }

  &__badges {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
  }

  &__top {
    height: 57px;
    display: flex;
    justify-content: space-between;
    padding: 12px 12px 7px;
  }

  &__favorit-box {
    outline: transparent;
    fill: $silver-600;
    transition: fill 0.3s linear;
      &:hover,
      &:active,
      &:focus {
        .product-card__favorit {
          fill: $yellow;
        }
      }
  }

  
  &__body {
    padding: 0 12px;
    margin-bottom: 27px;
  }

  &__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &__subtitle {
    max-width: 290px;
    font-weight: 600;
    margin-bottom: auto;
    padding: 12px 18px 0;
    @include lc(3);
  }

  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding: 13px 18px 17px;
  }

  &__price {
    max-width: 100px;
    color: $dark-500;
    line-height: 1.2;
  }

  &__oldprice {
    max-width: 100px;
    display: block;
    color: $silver-600;
    position: relative;
    &::after {
      content: '';
      position: absolute;
      bottom: 10px;
      left: 0;
      right: 0;
      height: 1px;
      background-color: $silver-600;
      transform: rotate(346deg);
    }
  }

  &__btn {
    padding: 8px 8px 4px;
    background-color: $green-900;
    border-radius: 6px;
    outline: transparent;
    &:active {
      box-shadow: none !important;
      .product-card__icon {
        fill: rgba(255, 255, 255, 0.5);
      }
    }
    &:focus {
      box-shadow: 0 0 0 4px $green-100;
    }
    &:hover {
      background-color: $green-800;
    }
  }


  &__icon {
    fill: $white;
    width: 16px;
    height: 16px; 
  }
} 

.categories-menu {
    display: flex;
    justify-content: center;
    margin: 0 auto 45px;

    @include lg {
      flex-wrap: wrap;
      margin-bottom: 30px;
    }

    @include sm {
      margin-bottom: 0;
    }

      &__item {
        @include lg {
          margin-bottom: 15px;
        }

        &:not(:last-child) {
          margin-right: 17px;

          @include lg {
            margin-right: 15px;
          }
        }
      }

      &__btn {
        color: $dark-500;
        @include Lato(700);
        text-transform: uppercase;
        font-size: 17px;
        outline: transparent;
        border-bottom: 3px solid transparent;
        transition: border-bottom-color 0.3s;
        &:hover,
        &:active,
        &:focus {
          border-bottom: 3px solid $green-200;
        }
      }

  .mixitup-control-active {
    border-bottom: 3px solid $green-200;
  }
}